#texto{
    font-family: pokemonText;
    font-size: 1.3em;
}

#discurso{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15em;
}

#divSprite img {
    height: 300px;
}

#divDiscurso{
    margin-top: 2em;
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
}